.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
  height: 414px;
  /* a changer si besoin */
  z-index: 1000;
  margin: 0 !important;
  border: none !important;
}

.yellow {
  color: yellow;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 414px;
  font-size: 1.5em;
  color: rgb(175, 0, 161);
}


.warning{
  position: fixed !important; 
  bottom: 48px !important; 
}

#error-message{ bottom: 20px !important}