.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
  height: 414px;
  /* a changer si besoin */
  z-index: 1000;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 414px;
  font-size: 1.5em;
  color: rgb(175, 0, 161);
}