.textArea {
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 5px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #000000;
  background-color: #302b2b;
  color: rgb(175, 0, 161);
}

.textArea p {
  font-size: 1.1em;
  font-family: monospace;
  letter-spacing: 1px;
  padding: 0;
}

.textArea textarea {
  background-color: #000000;
  color: rgb(175, 0, 161);
  width: 99.5%;
}

.test {
  position: relative; /* utiliser ablsolute si besoin */
  /* top: 50%; */
  transform: translateY(-50%);
  color: rgb(175, 0, 161);
  /* modif */
  position: fixed;
    top: 10px;
    right: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

body {
  background-color: #000000;
}

a {
  text-decoration: none;
}

#temps_restant{ position: fixed;
  top: 10px;
  left: 10px;}