<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat Map</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.ico">
</head>

<body>
    <div class="map-container">
        <pre id="zone_map" style="white-space: pre-wrap; overflow: auto;">
{{map}}
        </pre>
    </div>
    <div class="test">
        Vous jouez en {{ gamemode }} <br><br>
        Vous êtes {%if session.get("bot") == "1"%} @ {% else %} # {% endif %}
        <form action="/combat/next-turn" method="POST">
            <label for="story">CMD:</label>
            <div class="textArea">
                <p>{{user}}@eda#.prog></p>
                <textarea id="story" name="code" rows="13" required placeholder="Votre code..."></textarea>
            </div>
            <input id="bouton_lancer" type="submit" value="Lancer" disabled><br>
    </div>

    <div id="temps_restant">
        Temps restant : <span id="compteur">180</span>
    </div>
    </form>

    <!-- message d'erreur et conseils -->
    <div id="alert" class="warning">Votre code n'est pas valide !</div>
    <div id="error-message" class="warning"></div>

    <script src="{{ url_for('static', filename='verif.js') }}"></script>
    </div>
</body>

</html>