<!DOCTYPE html>
<html>

<head>
    <title>Jeu</title>
</head>

<body>
    <h1>Jeu</h1>
    <div>
        {% for row in map %}
        <div>
            {% for cell in row %}
            {% if cell == '1' %}
            <div style="background-color: black; width: 20px; height: 20px; display: inline-block;"></div>
            {% elif cell == '2' %}
            <div style="background-color: yellow; width: 20px; height: 20px; display: inline-block;"></div>
            {% elif cell == '0' %}
            <div style="background-color: white; width: 20px; height: 20px; display: inline-block;"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>