<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Présentation</title>*
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.ico">
</head>

<body>
    Lien vidéo: ...
    Lien GitLab: https://gitlab.com/groupe_eda/eda/

    Au lancement de la partie, vous avez exactement 180 secondes pour coder le comportement de votre robot dans le
    langage que nous avons créer : EDA#, une fois la fin du temps imparti, ou si les deux joueurs ont finit leur code en
    avance, les robots exécutent le code. Les robots ont alors deux objectif qui définira le vainqueur, soit détruire le
    robot adverse avec l'action "shield", qui fait exploser l'adversaire si il rentre dans la zone de couverture ( qui
    est de un bloc autour du robot qui utilise "shield"), soit récupérer le plus de pièces possible en marchant dessus.
    Après que les deux robots ont finit d'exécuter leurs instructions respective, le vainqueur sera le dernier robot en
    vie, ou, dans le cas où les deux ont survécu, celui qui aura amassé le plus de pièces durant la partie. Vous serez
    ensuite redirigé vers l'écran de fin de partie annonçant le gagnant
    <a href="/">Retour</a>
</body>

</html>