<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.ico">
</head>

<body>
    <i>**(stats (win, kills, elo, map favori), modif password, mail, pseudo, suppr compte etc...)**</i>
    <br>
    Pseudo : {{pseudo}}
    <br>
    Mail : {{mail}}
    <br><br>
    Nombre de victoires : {{win}}
    <br>
    Rang : {{elo}}
    <br><br><br>
    <a href="/suprcompte">Supprimer mon compte</a><br>
    <a href="/deconnexion">Se déconnecter</a><br>
    <a href="/">Retour</a>
</body>

</html>