<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Project : EDA#</h1>
        {% if session["modo"] %}
            <a href="/moderation" class="btn btn-primary">Modération</a>
        {% elif not session["user"] %}
            <a href="/connection" class="btn btn-primary">Se connecter</a>
            <a href="/inscription" class="btn btn-secondary">S'inscrire</a>
        {% else %}
            <a href="/jouer" class="btn btn-success">Jouer</a>
            <a href="/profil" class="btn btn-info">Profil</a>
        {% endif %}
        <a href="/presentation" class="btn btn-link">Qu'est-ce qu'EDA# ?</a>
    </div>
</body>
</html>

