<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Profil</h1>
        <p><i>(stats : win, kills, elo, map favori), modifier le mot de passe, email, pseudo, supprimer le compte, etc.</i></p>
        <a href="/deconnexion" class="btn btn-danger">Se déconnecter</a>
        <a href="/index" class="btn btn-secondary">Retour</a>
    </div>
</body>
</html>

